# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Ambiente virtual
.venv/
venv/
env/

# Banco de dados
*.db
*.db-journal
*.db-wal

# IDE
.vscode/
.idea/
*.swp
*.swo

# Pytest
.pytest_cache/

# Sistema
Thumbs.db
.DS_Store
